# Handle data imbalancing

### import required packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### load the data

In [3]:
# generate 200 normally distributed values
np.random.normal(size=200)

array([-1.58591164e+00,  6.65986415e-01,  6.95353777e-01,  2.12639061e+00,
       -2.55301287e-01,  1.16911441e+00, -1.67591556e+00, -1.07864604e+00,
        2.46903066e-01,  1.97359481e-03, -1.83370356e+00,  1.00575473e+00,
        9.77973585e-01,  2.75863107e-01, -2.09039216e-01, -1.83165793e-01,
        1.11917047e+00,  1.45146636e+00, -9.26005449e-01,  1.32243968e-01,
        9.42896365e-03, -4.19472532e-01, -6.82573328e-01,  1.16636258e+00,
        1.15274476e+00,  2.38081345e-02,  2.83399429e-01,  1.15688861e-03,
       -2.06758675e-01, -7.55358467e-01, -1.10614584e+00,  4.29043403e-01,
       -5.87977585e-01, -8.52811026e-01, -3.27272048e-01, -9.14964939e-01,
        9.16371974e-01, -3.82194075e-01, -4.33712337e-01,  3.58279142e+00,
        2.19447709e+00,  2.99794934e-01,  9.27994029e-01, -2.39673642e-01,
       -8.50873551e-01,  8.51917662e-01,  2.70663401e-01, -7.46685337e-01,
        1.72599215e+00,  2.93778052e-01,  2.29134025e+00,  4.47655397e-01,
        1.14289160e+00,  9.45456472e-02,  5.51498676e-01, -1.33371340e-01,
        2.38007383e+00, -1.62558897e+00, -1.41168204e-01,  7.96788957e-01,
       -1.06938876e+00, -2.09929727e-01,  9.14190926e-01,  1.70966204e-01,
       -9.40753064e-01, -5.98433405e-01, -5.79307884e-01,  1.47076043e+00,
        5.82212326e-01, -1.28747140e-01,  1.34023878e+00,  1.38221656e-03,
        7.96235256e-01,  1.87593847e+00,  2.21041002e-01, -1.01325326e+00,
        1.14157615e+00,  1.64549024e+00, -5.67571564e-01, -3.54621394e-03,
       -1.12542249e+00, -1.25927890e+00, -1.12275278e+00,  5.63432189e-02,
       -6.21404141e-01, -1.17270918e+00, -4.03010325e-01,  1.86473968e-01,
       -1.28649176e+00,  5.44086175e-01,  5.80545942e-01,  1.47899606e+00,
       -6.12079405e-01,  4.01304584e-01, -9.38971172e-02,  6.72206216e-01,
        4.94775611e-01, -4.59784754e-01, -1.14216659e+00,  4.78380401e-02,
       -1.07793133e+00, -1.41855833e+00,  1.99258073e+00,  2.63305900e-01,
        4.89208456e-01,  1.07479710e+00,  3.64018594e-02, -1.65207394e-01,
        8.84581439e-02, -1.55504802e+00,  7.36381775e-01,  1.24806894e+00,
        4.94648191e-01, -6.19466092e-02, -3.72701295e-01, -8.36792355e-01,
        3.19200656e-01,  1.07945178e+00, -3.19518952e-01,  1.04654606e+00,
       -5.21512653e-01, -5.11219614e-01,  1.12233739e+00, -3.91504539e-02,
       -2.35044623e-02, -1.16921426e+00, -5.16122945e-01,  7.79792454e-01,
       -8.12287929e-01,  3.18399328e-01,  1.24710768e-01, -2.53933817e-01,
       -1.76896066e+00,  6.27157634e-01,  1.26570878e+00,  2.43692655e-01,
       -1.20627172e-01, -1.70563138e+00, -2.39306959e-01, -3.44145745e-01,
       -6.25161841e-01, -2.72008140e-01, -2.74804996e-01,  1.07687945e+00,
        5.01124251e-01, -5.35533238e-01, -1.41178103e+00,  6.27156192e-02,
        1.10109931e+00, -1.88291391e+00,  7.21065985e-01, -6.32458280e-01,
        1.51865417e-01, -1.01506290e-01,  3.51121581e-01,  3.90241341e-01,
       -4.32192469e-01,  1.80562810e+00, -2.13204271e-01,  2.36150560e+00,
       -9.53842431e-02, -3.17647755e-01, -7.13211020e-02,  4.48688967e-01,
        2.11508630e-01,  1.89682805e-01,  2.69832627e+00, -2.79460830e-01,
        7.45812950e-01,  2.23291217e-02,  1.56083419e+00, -6.05178416e-01,
       -2.54253231e-01,  1.54471051e-01, -6.94421527e-01,  1.26531805e+00,
        1.41269774e+00, -5.01818417e-01, -8.63720408e-02, -4.70888346e-01,
       -5.38788856e-01,  9.84081493e-01, -1.43646557e+00, -2.38846755e-01,
       -6.12452877e-01, -3.10818226e-01, -9.45545726e-01,  1.62323192e+00,
       -4.85687942e-01,  2.18083974e+00, -5.48238015e-01,  1.06938707e+00,
       -1.05429124e+00,  8.71753221e-01, -3.25380104e-01, -7.50659423e-01,
       -9.61923727e-01,  7.22143423e-02, -1.87301168e-01,  3.81996151e-01])

In [5]:
# create a data frame to have target variable with 200 '0's 
df_1 = pd.DataFrame({
    "feature1": np.random.normal(size=200),
    "feature2": np.random.normal(size=200),
    "target": [0] * 200
})
df_1

     feature1  feature2  target
0   -1.758694 -0.321161       0
1   -0.056239  0.787099       0
2    1.012855 -1.201779       0
3   -2.154651  0.812135       0
4    0.711547 -0.674921       0
..        ...       ...     ...
195 -0.585625 -0.615480       0
196 -0.649907  1.308315       0
197 -0.103414 -0.033746       0
198 -1.084530  0.255181       0
199  0.633695 -0.902265       0

[200 rows x 3 columns]

In [7]:
# create a data frame to have target variable with 800 '1's 
df_2 = pd.DataFrame({
    "feature1": np.random.normal(size=800),
    "feature2": np.random.normal(size=800),
    "target": [1] * 800
})
df_2

     feature1  feature2  target
0    0.997454  0.403240       1
1    0.989848 -0.410655       1
2   -0.873344  1.360711       1
3   -0.331820  0.466598       1
4    0.392631 -1.360056       1
..        ...       ...     ...
795  0.912257  0.855369       1
796 -0.648639  0.521715       1
797 -0.416322  1.057739       1
798  0.590178 -0.148396       1
799 -0.580970 -0.093073       1

[800 rows x 3 columns]

In [8]:
# create a new data frame by joining df_1 and df_2 data frames
df = pd.concat([df_1, df_2])
df

     feature1  feature2  target
0   -1.758694 -0.321161       0
1   -0.056239  0.787099       0
2    1.012855 -1.201779       0
3   -2.154651  0.812135       0
4    0.711547 -0.674921       0
..        ...       ...     ...
795  0.912257  0.855369       1
796 -0.648639  0.521715       1
797 -0.416322  1.057739       1
798  0.590178 -0.148396       1
799 -0.580970 -0.093073       1

[1000 rows x 3 columns]

### EDA

In [10]:
df.head()

   feature1  feature2  target
0 -1.758694 -0.321161       0
1 -0.056239  0.787099       0
2  1.012855 -1.201779       0
3 -2.154651  0.812135       0
4  0.711547 -0.674921       0

In [11]:
df.tail()

     feature1  feature2  target
795  0.912257  0.855369       1
796 -0.648639  0.521715       1
797 -0.416322  1.057739       1
798  0.590178 -0.148396       1
799 -0.580970 -0.093073       1

In [12]:
df['target'].value_counts()

target
1    800
0    200
Name: count, dtype: int64

In [17]:
# divide the major and minor classes
# this is using filtering technique to separate minority and majority classes
df_minority = df[df['target'] == 0]
df_majority = df[df['target'] == 1]

## Down Sampling
- removing random records from majority class to match with minority class
- also known as under-sampling
- reduces the number of records

In [22]:
from sklearn.utils import resample

# remove 600 random records from majoriry class
df_down_sampled = resample(df_majority, n_samples=200, random_state=123456)
df_down_sampled

     feature1  feature2  target
65  -0.831293 -1.852752       1
746  0.845113 -0.527549       1
498 -0.810278  0.866749       1
49  -1.735119  0.656966       1
568  0.707991  0.199434       1
..        ...       ...     ...
92   0.197652 -0.154294       1
756 -0.935261  1.624146       1
200 -0.605377  0.359582       1
463 -0.960480  0.363705       1
17   0.063210 -2.141545       1

[200 rows x 3 columns]

In [23]:
# now combine the reduced majority (df_down_sampled) and minority class to create final df
df_balanced = pd.concat([df_down_sampled, df_minority])
df_balanced

     feature1  feature2  target
65  -0.831293 -1.852752       1
746  0.845113 -0.527549       1
498 -0.810278  0.866749       1
49  -1.735119  0.656966       1
568  0.707991  0.199434       1
..        ...       ...     ...
195 -0.585625 -0.615480       0
196 -0.649907  1.308315       0
197 -0.103414 -0.033746       0
198 -1.084530  0.255181       0
199  0.633695 -0.902265       0

[400 rows x 3 columns]

In [25]:
df_balanced['target'].value_counts()

target
1    200
0    200
Name: count, dtype: int64

## Up Sampling
- adding NEW random records from the existing ones to match the majority class
- also known as over-sampling
- increases the number of records

In [27]:
from sklearn.utils import resample

df_up_sampled = resample(df_minority, n_samples=800, random_state=123456)
df_up_sampled

     feature1  feature2  target
65  -1.392426 -0.726589       0
49  -0.108214  1.250181       0
56   0.701180  0.233874       0
171 -0.230691 -0.431821       0
43  -0.743719 -0.165717       0
..        ...       ...     ...
197 -0.103414 -0.033746       0
84   1.263259  0.205753       0
103  0.735726  0.495328       0
133  0.728625  1.400459       0
105  0.480196 -1.694216       0

[800 rows x 3 columns]

In [28]:
# contact both the majority class and up sample data frame
df_balanced = pd.concat([df_majority, df_up_sampled])
df_balanced

     feature1  feature2  target
0    0.997454  0.403240       1
1    0.989848 -0.410655       1
2   -0.873344  1.360711       1
3   -0.331820  0.466598       1
4    0.392631 -1.360056       1
..        ...       ...     ...
197 -0.103414 -0.033746       0
84   1.263259  0.205753       0
103  0.735726  0.495328       0
133  0.728625  1.400459       0
105  0.480196 -1.694216       0

[1600 rows x 3 columns]

In [29]:
df_balanced['target'].value_counts()

target
1    800
0    800
Name: count, dtype: int64

## SMOTE
- Synthetic Minority Over sampling Technique
- the data generated for minority class will have relationship mantainned

In [30]:
# install package named imbalanced-learn 
%pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in /opt/homebrew/lib/python3.11/site-packages (0.12.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/homebrew/lib/python3.11/site-packages (from imbalanced-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in /opt/homebrew/lib/python3.11/site-packages (from imbalanced-learn) (1.11.3)
Requirement already satisfied: scikit-learn>=1.0.2 in /opt/homebrew/lib/python3.11/site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: joblib>=1.1.1 in /opt/homebrew/lib/python3.11/site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/lib/python3.11/site-packages (from imbalanced-learn) (3.2.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [33]:
from imblearn.over_sampling import SMOTE

# create a SMOTE object
smote = SMOTE(random_state=123456)

# seperate dependent and independent features

# x must be a data frame (2d collection)
x = df.drop('target', axis=1)

# y must be a series (1d collection)
y = df['target']

# oversample the data
x_balanced, y_balanced = smote.fit_resample(x, y)

In [35]:
y_balanced

0       0
1       0
2       0
3       0
4       0
       ..
1595    0
1596    0
1597    0
1598    0
1599    0
Name: target, Length: 1600, dtype: int64